version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: lawpro_app
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: lawpro_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: lawpro
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: lawpro
      MYSQL_PASSWORD: lawpro
    ports:
      - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
